
.icon-facebook-squared:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-laptop:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-graduation-cap:before { content: '\e808'; } /* '' */
.icon-heartbeat:before { content: '\e809'; } /* '' */
.icon-newspaper:before { content: '\e80a'; } /* '' */
.icon-cog-alt:before { content: '\e80b'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-lock-open-alt:before { content: '\e80d'; } /* '' */
.icon-chat-empty:before { content: '\e80e'; } /* '' */
.icon-key:before { content: '\e80f'; } /* '' */
.icon-user-plus:before { content: '\e810'; } /* '' */