body {
	color: #fff;
	margin: 0 !important; 
}

img {
	max-width: 100%;
	height: auto;
}

* {
		box-sizing: border-box;
}

	a {
		color: $mainLithBlue;
		text-decoration: none;
	}

	.error{
		color: red;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	h1 {
		font-size:  32px;
		font-weight: 400;
		margin-top: 45px;
		margin-bottom: 45px;
		letter-spacing: 10px;
		text-transform: uppercase;
	}

	h3 {
		color: #fff;
	}

