body{
  	background-image: url("/Project/app/assets/images/img/kettlebell3.jpg");
  	background-size: 100% 100%;
	color: white;
	margin: 0 !important; 
}
img {
	max-width: 100%;
	height: auto;
}
* {
		box-sizing: border-box;
}
a{
		color: #39a5f1;
		text-decoration: none;
	}
.error{
		color: red;
		margin-top: 10px;
		margin-bottom: 10px;
	}
h1{
		font-size:  32px;
		font-weight: 400;
		color: #39a5f1;
		margin-top: 45px;
		margin-bottom: 45px;
		letter-spacing: 10px;
		text-transform: uppercase;

	}
h3{
		color: #fff;
	}
input[type=text],
input[type=password]
{
	
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius:5px;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	margin-top: 20px;
	
}
input[type=text]:focus,
input[type=password]:focus
{
 box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.95);
	border: 2px solid #a5cda5;
	background-color: #c0c0c0;
	color: #101010;
}
input[type=submit]
{
	
	background-color: #39a5f1;
	color: white;

	border-radius:5px;
	font-size: 20px;
	padding: 5px 30px;
	margin-top: 30px;
	border: none;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
input[type=submit]:focus
{
   box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.95);
}
input[type=submit]:hover
{
	background-color: #37b93d;
}
input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}
.container{
//display: grid;
-ms-grid-columns: 1fr;
    grid-template-columns: 1fr; 
grid-template-areas: 
"header"
"main"
"footer";

grid-row-gap: 20px;
}
header {
 grid-area: header;
	
}
.header {
 background-color: #303030;
 margin-bottom: 30px;
 border-bottom: 1px solid #0059b3;
	
}
/* ######## NAWIGACJA ######## */
#navigation {	  
  z-index: 100;
  background-color: #303030;
}
.nav {
      
 text-align: center;
 padding: 10px 0;
 width: 100%;
 border-top: 2px solid #0059b3;
 border-bottom: 2px solid #0059b3;
	
}
.sticky {
   position: fixed;
   top: 0;
   left: 0;

}
.panel {
	
}
ol.navi {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 38px;
	line-height: 200%;
	display: inline-block;
    z-index: 100;
   letter-spacing: 2px;
}
ol.navi  a {
	color: #39a5f1;
	text-decoration: none;
	display: block;
	
}
ol.navi > li {
	float: left;
	width: 150px;
	height: 36px;
	border-right: 2px dotted #0059b3;
	z-index: 5;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	font-weight: 700;
	letter-spacing: 2px;
}
ol.navi > li:first-child {
		border-right:  none;
		left: 0;
		top: 10px;
		position: fixed;
		font-size: 24px;
}
ol.navi > li:nth-child(2) {
		border-left: 2px dotted #0059b3;

}
ol.navi > li:last-child {
		border-right:  none;
		right: 0;
		top: 0;
		position: fixed;
		font-size: 15px;
		
}
ol.navi > li:hover {
	border-left: 2px solid #0059b3;	
	background-color: #222;
	
}
ol.navi > li:hover > a {
	color: #E08000;
}
ol.navi > li > ul {
	font-weight: 400;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
   
}
ol.navi > li:hover > ul {
	display: block;

}
ol.navi > li  > ul > li {
	
	background-color: #222;
	 position: relative;
	 z-index: 100;
	 border-top: 2px dotted #303030;
	 opacity: 0.9;
	 letter-spacing: 2px;

}
ol.navi > li  > ul > li:hover {
	background-color: #333;


}
ol.navi > li  > ul > li:hover > a {
 color: #E08000;

}
.socials--nav {
  	border-bottom: 1px solid #0059b3; 
}
.socials--footer {
	
}
.sociallink {
	display: inline-block;	
	color: #E08000;

}
.sociallink--nav {
  	font-size: 15px;
  	padding-right: 2px; 
}
.sociallink--footer {
  	font-size: 60px;
  	padding: 20px 30px; 
}
.sociallink i {
  	color: white!important; 
}
.sociallink__fb:hover {
	 background-color: #4668b3;
   }
.sociallink__yt:hover {
	background-color: #d94348;
 }
.sociallink__tw:hover {
	background-color: #3095d3;
}
.sociallink__gplus:hover {
	background-color: #d95333;
}
footer{
	grid-area: footer; 
}
.footer {
	background-color: #101010;
	padding: 20px;
	text-align: center;
	min-height:  40px;

}
main {

	grid-area: main;
	border-top: 2px solid #0059b3;
 	background-color: #303030;

}
.content {	
	width: 1400px;
	margin: auto;
 	display: -ms-grid;
 	display: grid;
}
.content--diet, .content--metabolic {
  	-ms-grid-columns: 1fr 1fr 1fr;
  	    grid-template-columns: 1fr 1fr 1fr;
  	-ms-grid-rows: 70px 250px 250px;
  	    grid-template-rows: 70px 250px 250px;
  	grid-template-areas: 
		"header header header"
		"postcard_01 postcard_02 postcard_03"
		"postcard_04 postcard_05 postcard_06";
  	grid-column-gap: 20px;
  	grid-row-gap: 70px;
  	padding: 20px;
  	padding-bottom: 70px; 
}
.content--index
	{
  	-ms-grid-columns: 1fr 1fr 270px 270px;
  	    grid-template-columns: 1fr 1fr 270px 270px;
  	-ms-grid-rows: 180px 180px 330px 300px;
  	    grid-template-rows: 180px 180px 330px 300px;
  	grid-template-areas: 
		"workout workout metabolic strength"
		"workout workout mobility diet"
		"workout workout movie movie"
		"art1 art2 offering offering";
  	grid-column-gap: 20px;
  	grid-row-gap: 20px;
  	padding: 10px; 
}
.content--login
	{
  	text-align: center;
  	padding: 20px; 
}
.content--registration
	{
  	text-align: center;
  	padding: 20px;
  	margin-left: auto;
  	margin-right: auto;
  	width: 300px; 
}
.postcard {	
 text-align: center;
width: 100%;
height: 100%;

}
.postcard:hover {
	box-shadow: 0 0 10px #0059b3;
}
.postcard__photo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.postcard__photo img {
  	transition: all 0.5s ease-in-out; 
}
.postcard__photo p.index {
  	z-index: 2;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	font-size: 25px;
  	color: #39a5f1;
  	text-decoration: bolt;
  	padding: 10px; 
}
.postcard__photo:hover img {
	-webkit-transform: scale(1.15) ;
	transform: scale(1.15);
}
.overlay {
	position: relative;
	width: 100%;
	height: 100%;
}
.overlay .link {
	position: absolute;
	display: block;
	width: 100%;
	height: 65%;
	background-color: #111;
	left: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}
.overlay:hover .link {
	opacity: 0.8;
}
.box__workout {
  	grid-area: workout;
  	position: relative; 
}
.box__workout img {
  	width: 100%;
  	height: 100%; 
}
.box__workout p.index {
  	position: absolute;
  	z-index: 2;
  	font-size: 25px;
  	left: 0;
  	width: 100%; 
}
.box__metabolic {
  	grid-area: metabolic;
  	text-align: center; 
}
.box__strength {
  	grid-area: strength; 
}
.box__strength img {
  	width: 100%;
  	height: 100%; 
}
.box__mobility {
  	grid-area: mobility; 
}
.box__diet {
  	grid-area: diet; 
}
.box__movie {
  	grid-area: movie;
  	text-align: center;
  	max-width: 100%;
  	height: auto; 
}
.box__art1 {
  	grid-area: art1; 
}
.box__art2 {
  	grid-area: art2; 
}
.box__offering {
  	grid-area: offering; 
}
.postcard--diet__01 {
	grid-area: postcard_01;	
	max-height: 100%
}
.postcard--diet__02 {
	grid-area: postcard_02;	
}
.postcard--diet__03 {
	grid-area: postcard_03;	
}
.postcard--diet__04 {
	grid-area: postcard_04;	
}
.postcard--diet__05 {
	grid-area: postcard_05;	
}
.postcard--diet__06 {
	grid-area: postcard_06;	
}
header.header--diet {
	grid-area: header;
}
.postcard--metabolic__01 {
	grid-area: postcard_01;	
	max-height: 100%
}
.postcard--metabolic__02 {
	grid-area: postcard_02;	
}
.postcard--metabolic__03 {
	grid-area: postcard_03;	
}
.postcard--metabolic__04 {
	grid-area: postcard_04;	
}
.postcard--metabolic__05 {
	grid-area: postcard_05;	
}
.postcard--metabolic__06 {
	grid-area: postcard_06;	
}
header.header--metabolic {
	grid-area: header;
}
.slider
   {
	 width: 100%;
     height: 100%;
     opacity: 0.8; 
 	
   }
#slider
   {
     max-width: 80%;
	 margin-left: auto;
	 margin-right: auto;
	 padding-top: 10px;
	 max-height: 400px;
	 overflow: hidden;
	
   }
.nazwaslajdu
   {
     width: 100%;
     height: 5;
	 margin-left: auto;
	 margin-right: auto; 
	 position: relative;
	 bottom: 75px;
	 padding-left: 1000px;
	display: inline-block;
   }

