.page-section {
	padding: 4.5rem 0;

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}

	&--transparent {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 90; 
		background-color: rgba(0, 0, 0, 0.4);
		top: 0;
		left: 0;
	}
}