 .slider
   {

     opacity: 0.8; 
 	
   }

#slider
   {
     width: 70%;
	 margin-left: auto;
	 margin-right: auto;
	 padding-top: 10px;
	 max-height: 400px;
	 overflow: hidden;
	
   }
   .nazwaslajdu
   {
     width: 100%;
     height: 5;
	 margin-left: auto;
	 margin-right: auto; 
	 position: relative;
	 bottom: 75px;
	 padding-left: 1000px;
	display: inline-block;
   }