.socials {

	&--nav {
		border-bottom: 1px solid $mainDarkBlue;
	}

	&--footer {

	}	
}

.sociallink {
	display: inline-block;	
	color: $mainOrange;

	&--nav {
		font-size: 15px;
		padding-right: 2px;
	}

	&--footer {
		font-size: 60px;
		padding: 20px 30px;
	}

	span {
		color: white; 
	}

}

.sociallink__fb:hover {
	 background-color: #4668b3;
   }

.sociallink__yt:hover {
	background-color: #d94348;
 }

.sociallink__tw:hover {
	background-color: #3095d3;
}

.sociallink__gplus:hover {
	background-color: #d95333;
}