footer {
	grid-area: footer; 
	position: relative;
	
	background-color: #202060;
	box-sizing: border-box;
	z-index: 90;
}

.footer-side {
	margin-top: 50px;
	padding: 40px;
	text-align: center;
	min-height:  30px;
	

	&__text {
		margin: 80px;
		display: block;
	}

}