footer {
	grid-area: footer; 
}

.footer-side {
	position: relative;
	background: url('../../assets/images/img/footer.jpg') top center no-repeat;
    background-size: cover;
	z-index: 2;
	text-align: center;
	min-height:  30px;
	
	&__transparency {
		width: 100%;
		padding: 40px;
		height: auto;
		background-color: rgba(0, 0, 60, .9);
	}

	&__text {
		margin: 80px;
	}

}