footer {

	grid-area: footer; 
	position: relative;
	background: url('../../assets/images/img/footer.jpg') top center no-repeat;
    background-size: cover;
	
	
	z-index: 90;
}

.footer-side {
	padding: 40px;

	text-align: center;
	min-height:  30px;
	background-color: rgba(0, 0, 60, .9);

	&__text {
		margin: 80px;
		display: block;
	}

}