.btn {
	background-color: $mainBtn;
	color: $mainBtnText;
	font-weight: 700;
	border-radius: 2px;
	font-size: 20px;
	padding: 8px 0;
	margin-bottom: 20px;
	border: none;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	border: 2px solid $mainBtnBorder;
	width: 250px;
	
	&:focus {

   box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.95);
	}

	&:hover {
		background-color: $mainBtnHover;
		color: $mainBtnTextHover;
		border: 2px solid $mainBtnBorderHover;
	}

	&--login {
		
		margin-top: 20px;
	}


}

