.postcard {	
	text-align: center;
	width: 100%;
	height: 100%;

	

	&__photo {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	  text-align: center;

		img {
			width: 100%;
			height: 100%;
			transition: all 0.5s ease-in-out;
		}
	}

	&__photo:hover img {
		transform: scale(1.15);
	}

	&--halo {
		&:hover {
		box-shadow: 0 0 10px $mainDarkBlue;
		}

		&:hover .postcard__text {
			color: red;
		}
	}

	&__title {
	
		width: 100%;
		position: absolute;
		bottom: 0;
		margin: 0;
		left: 0;
		color: #fff;
		font-weight: 700;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 10px;
	}

	&__text {
	  position: absolute;
      z-index: 1;
      left: 0; 
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 700;
      font-size: 1rem;
      color: $mainBoxIndex_01;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .7); 

     @mixin atSmall {
        font-size: 1.2rem;
      }

      @mixin atMedium {
         font-size: 1.4rem;
      }

      @mixin atLarge {
         font-size: 1.6rem;
      } 
	}
}



.overlay {
	position: relative;
	width: 100%;
	height: 100%;

	&__link {
		position: absolute;
		display: block;
		width: 100%;
		height: 65%;
		background-color: #111;
		left: 0;
		bottom: 0;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
		text-align: justify;
		padding-left: 5px;
		padding-right: 5px;
		margin: 0;
	}

	&:hover .overlay__link{
	opacity: 0.8;
	z-index: 1;
	}

}