.social-icons {
	&--footer {

		margin: 10px;

		@mixin atSmall {
			margin-left: 60px;
			margin-right: 60px;
		}

		@mixin atMedium {
			margin: 20px;
		}
	}

	&--header-side {
		width: 150px;
		@mixin clearfix;
	}

	&__icon{
			display: inline-block;
		&:hover{ 

		} 
  }
}

.icon {

	&--header {
		float: right;
		color: #fff;
		padding: 2px;
		font-size: 1rem;
		letter-spacing: 2px;
		margin-top: 5px;
		margin-bottom: 0; 
		margin-right: auto;
		margin-left: auto;
		
		@mixin atMedium {
			margin-top: 2px;
		}

	}

	&--footer {
		font-size: 2rem;
		background-color: rgba(60, 60, 60, .9);
		color: #fff;
		margin: 5px;
		margin-top: 5px;
		display: inline-block;
		padding: 10px;
	 

		@mixin atSmaller {
		font-size: 3rem;
		padding: 15px;
		margin: 5px;
		}

		@mixin atSmall {
		font-size: 3.5rem;
		padding: 30px;
		margin: 10px;
		}

		@mixin atMedium {
		font-size: 4rem;
		padding: 35px;
		margin: 15px;
		
		}

		@mixin atLarge {
		font-size: 4.3rem;
		padding: 40px;
		margin: 20px;
		
		}

		@mixin atExtraLarge {
		font-size: 5rem;
		padding: 55px;
		margin-top: 25px;
		}
	}

	

	&--youtube {
	 
	   
	}

	&--youtube:hover {
	 	background-color: #d94348;
	}

	&--facebook {  
		 
	}

	&--facebook:hover {
		 background-color: #4668b3;
	}

	&--twitter {
	  
	 
	}

	&--twitter:hover {
	 	background-color: #3095d3;
	}
	
	&--gplus {
		 
	 
	}

	&--gplus:hover {
	 	background-color: #d95333;
	}

	&--user-plus {
		font-size: 1rem;
		padding: 5px;
		color: $mainOrange;
	}

	&--user-plus:hover {
		color: $mainRed;
	}

	&--user {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		position: absolute;
		top: -60px;
		left: calc(50% - 60px);
		background-color: $mainBlue;
		padding-top: 24px;  
		font-size: 72px;

	}
}
