.content--index {
  grid-template-columns: 1fr 1fr 270px 270px; 
  grid-template-rows: 1fr 1fr 330px 300px;
  grid-template-areas: 
    "workout workout metabolic strength"
    "workout workout mobility diet"
    "workout workout movie movie"
    "art1 art2 offering offering";

  grid-column-gap: 20px;
  grid-row-gap: 20px;

  padding: 10px;


  }



.box-index {
 

  &-workout {
    grid-area: workout;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }


    &__text-content {
         
      position: absolute;
      z-index: 2;
      font-size: 25px;
      left: 0; 
      width: 100%; 
      top: 50%;
      transform: translateY(-70%);
      padding: 20px;  
     
    }

    &__title {
      font-weight: 700;
      color: $mainOrange;
      font-size: 2.8rem;
    }

    &__subtitle {
      font-weight: 300;

    }

  }

  &-metabolic {
    grid-area: metabolic;
    text-align: center;
    position: relative;

    &__text {
      position: absolute;
      z-index: 2;
      font-size: 25px;
      left: 0; 
      width: 100%;
      height: 100%;
      color: black;  
      padding-top: 40px;     
    }
  }

  &-strength {
    grid-area: strength; 
    position: relative;
    
    &__text {
      position: absolute;
      z-index: 2;
      font-size: 25px;
      left: 0; 
      width: 100%;     
    }    
    img {
      width: 100%;
      height: 100%;
    }

  }

  &-mobility {
    grid-area: mobility;
    position: relative;
    
    &__text {
      position: absolute;
      z-index: 2;
      font-size: 25px;
      left: 0; 
      width: 100%;     
    }
  }

  &-diet {
    grid-area: diet;
    position: relative;

    
    &__text {
      position: absolute;
      z-index: 2;
      font-size: 25px;
      left: 0; 
      width: 100%;      
    }
  }

  &-movie {
     	grid-area: movie;
      text-align: center;
      max-width: 100%;
      height: auto;
  }

  &-art1 {
   	grid-area: art1;
  }

  &-art2 {
    grid-area: art2;
  }

  &-offering {
   	grid-area: offering;
  }

}

